template(id='new-comment')
  li(class='last__list-item')
    img(class='last__list-image' src=`/img/` width='20' height='20' alt='Аватар пользователя')
    b(class='last__list-name')
    a(class='last__list-link' href=`/articles/`)
